.Info {
    font-size: 30px;
    font-family: helvetica, sans-serif;
    padding-top: 1px;
    padding-bottom: 20px;
}

.Info p {
    margin-bottom: 0px;
}

.Info.White {
    background-color: #cca;
    transition: background-color 1s;
}

.Info.Black {
    background-color: #775;
    transition: background-color 1s;
}
